#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/844b7f08-d8b1-481a-bbd6-c8e5f2a89f68 # 
title: flights
version: 1.0
/flights:
  get:
    responses: 
      200:
        body: 
          application/json:
            example: |
             {
                "airline": "United",
                "flightCode": "ER38sd",
                "fromAirportCode": "LAX",
                "toAirportCode": "SFO",
                "departureDate": "May 21, 2016",
                "emptySeats": 0,
                "totalSeats": 200,
                "price": 199,
                "planeType": "Boeing 737"
              }
             
  post:
       body: 
         application/json:
           example: | 
               {
                  "airline": "United",
                  "flightCode": "ER38sd",
                  "fromAirportCode": "LAX",
                  "toAirportCode": "SFO",
                  "departureDate": "May 21, 2016",
                  "emptySeats": 0,
                  "totalSeats": 200,
                  "price": 199,
                  "planeType": "Boeing 737"
                }
 
       
  /{ID}:
    get:
      responses: 
        200:
          body: 
            application/json:
              example: |
               
               {
                  "id":1,
                  "airline": "United",
                  "flightCode": "ER38sd",
                  "fromAirportCode": "LAX",
                  "toAirportCode": "SFO",
                  "departureDate": "May 21, 2016",
                  "emptySeats": 0,
                  "totalSeats": 200,
                  "price": 199,
                  "planeType": "Boeing 737"
                }
                 
    post:
      body: 
        application/json:
          example: |
            {
                  "id":1,
                  "airline": "United",
                  "flightCode": "ER38sd",
                  "fromAirportCode": "LAX",
                  "toAirportCode": "SFO",
                  "departureDate": "May 21, 2016",
                  "emptySeats": 0,
                  "totalSeats": 200,
                  "price": 199,
                  "planeType": "Boeing 737"
                }
                         
    delete:
     queryParameters: 
      id:  
      
        